
        <div class="c-benefits o-wrap">

            <div class="c-benefits__logo">
                <img src=<%= require("./img/assets/logo/4i.svg") %> width="146.33" height="147.48" alt="4i">
            </div>

            <ol class="o-accordion js-accordion js-fadeInChildren">
                <li class="js-item is-rollout">
                    <article>
                        <h4>Kurtyna plug and play z&nbsp;czujnikiem ruchu</h4>
                        
                        <section>
                            <p>Kurtyna Slim to urządzenie typu Plug & Play. Nabudowane przyciski na boku urządzenia umożliwiają dostosowanie bariery powietrznej do swoich potrzeb. Wbudowany czujnik ruchu uruchamia kurtynę w&nbsp;momencie wykrycia ruchu w&nbsp;otoczeniu urządzenia. Nie jest potrzebna już żadna dodatkowa automatyka.</p>
                        </section>
                    </article>
                </li>

                <li class="js-item">
                    <article>
                        <h4>Dopasowana do potrzeb twojego klienta</h4>
                        
                        <section>
                            <p>Pasuje do 99% otworów drzwiowych. Kurtyna Slim sprawdzi się wszędzie tam, gdzie często otwiera się drzwi, m.in. w&nbsp;sklepach, restauracjach, salonach usługowych.</p>
                        </section>
                    </article>
                </li>

                <li class="js-item">
                    <article>
                        <h4>Dyskrecja w&nbsp;działaniu</h4>
                        
                        <section>
                            <p>Kurtyna Slim nie zaburza charakteru wnętrz i idealnie wpasowuje się w  otwór drzwiowy. Dzięki 2 kolorom w&nbsp;standardzie – głębokiej czerni oraz bieli z czarnymi akcentami – Slim uzupełnia architekturę wnętrz, gwarantując jednocześnie maksymalną oszczędność miejsca.</p>
                        </section>
                    </article>
                </li>
                
                <li class="js-item">
                    <article>
                        <h4>Poprawia jakość powietrza  </h4>
                        
                        <section>
                            <p>Zadaniem kurtyn powietrznych jest zapobieganie niekontrolowanemu wydostawaniu się powietrza ogrzanego lub chłodnego z pomieszczenia. Dodatkowo po zamontowaniu łatwo wymienialnego, zewnętrznego filtra, kurtyna poprawia jakość powietrza w pomieszczeniu.</p>
                        </section>
                    </article>
                </li>
            </ol>            
        </div>
