
        <div class="c-colors js-colors">            
            <div class="o-cols__item o-cols__item--left js-left" ></div>
            <div class="o-cols__item o-cols__item--right js-right"></div>
            
            <div class="c-colors__content js-content">
                
                <header class="o-header js-fadeInChildren">
                    <h2>2 kolory w&nbsp;standardzie</h2>
                    <p>Zgodnie z zasadą slim design wybraliśmy prostą, oszczędną i funkcjonalną kolorystykę. Istnieje jednak możliwość zamówienia kurtyny również w dowolnym kolorze z palety RAL.</p>
                </header>
                
                <div class="c-colors__row">
                    <div class="c-colors__col c-colors__col--white"></div>
                    
                    <div class="c-colors__col c-colors__col--black"></div>
                </div>
                
                <div class="c-colors__image">
                    <img src=<%= require("./img/photos/colors/image.png") %> alt="" width="1210" height="680">
                </div>
                
                <div class="c-colors__row c-colors__row--captions">
                    <div class="c-colors__col c-colors__col--white">
                        <div class="c-colors__caption">
                            <h3>Głęboka czerń</h3>
                            <p>Czarna kurtyna to nieodłączny element stylu industrialnego. Dyskretnie wpisuje się w&nbsp;charakter wnętrz, pełniąc jednocześnie funkcje praktyczne i&nbsp;dekoracyjne.</p>
                        </div>
                    </div>
                    
                    <div class="c-colors__col c-colors__col--black">
                        <div class="c-colors__caption">
                            <h3>Biel z czarnymi akcentami</h3>
                            <p>Ponadczasowe połączenie bieli z czernią. Uzupełnia architekturę wnętrz i nie zaburza jego charakteru.</p>
                        </div>
                    </div>
                </div>                
            </div>
            
            

                
<!--                 <div class="o-cols__item o-cols__item--right"></div> -->

        </div>
