
        <div class="c-curtains o-wrap js-fadeIn">

            <header class="o-header">
                <h2>Kurtyny flowair dostępne są w&nbsp;3&nbsp;długościach, 3&nbsp;wersjach i&nbsp;2&nbsp;możliwościach montażu</h2>
            </header>
            
            <ul>
                <li>
                    <i class="icon-width"></i>
                    
                    <article class="js-fadeInChildren">
                        <h4>Długość</h4>
                        <p>1m, 1.5m, 2m</p>
                    </article>
                </li>
                
                <li>
                    <i class="icon-versions"></i>
                    
                    <article class="js-fadeInChildren">
                        <h4>Wersje</h4>
                        <p>wodna, elektryczna, neutralna</p>
                    </article>
                </li>
                
                <li>
                    <i class="icon-montage"></i>
                    
                    <article class="js-fadeInChildren">
                        <h4>Możliwość montażu </h4>
                        <p>pionowa, pozioma</p>
                    </article>
                </li>
            </ul>
        </div>
