
        <div class="c-download o-wrap">
            <header class="o-header js-fadeIn">
                <h2>Potrzebujesz szczegółów? Pobierz materiały</h2>
            </header>
            
            <ul>
                <li>
                    <a href="#">
                        <i class="icon-doc"></i>
                        <span>Dokumentacja techniczna</span>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="icon-tools"></i>
                        <span>Karta katalogowa</span>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="icon-download"></i>
                        <span>Broszura</span>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="icon-download"></i>
                        <span>Pliki CAD</span>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="icon-download"></i>
                        <span>Pliki Revit</span>
                    </a>
                </li>
            </ul>   
        </div>
