
        <div class="c-fit">
            
            <header class="o-header js-fadeInChildren">
                <h2>Pasuje do biznesu twojego klienta</h2>
                <p>Kurtyna Slim sprawdzi się wszędzie tam, gdzie często otwiera się drzwi, m.in. w sklepach, restauracjach, salonach usługowych.</p>
            </header>
            
            <div class="c-fit__image">
                <i class="o-circle"></i>
                <img src=<%= require("./img/photos/fit/image.svg") %> alt="">
            </div>
            
            <ul class="c-fit__info">
                <li>
                    <p class="o-lead--1"><span class="js-count" data-count="99">&nbsp;</span>%</p>
                    <p>Kurtyna pasuje do 99% otworów drzwiowych.</p>
                </li>
                
                <li>
                    <p class="o-lead--1"><span class="js-count" data-count="3">&nbsp;</span>,2 m</p>
                    <p>Zalecana wysokość montażu do 3,2 m wystarczy do zabezpieczenia otworu drzwiowego w większości lokali usługowych.</p>
                </li>
                
                <li>
                    <p class="o-lead--1">1 m = <span class="js-count" data-count="100">&nbsp;</span> cm</p>
                    <p>To najwęższa kurtyna na rynku. Urządzenie pozbawione jest wystających bocznych detali – jego długość zawsze jest taka jak podajemy. U nas 100 cm = 1m.</p>
                </li>
            </ul>
        </div>
