
        <div class="c-footer">

            <div class="c-footer__contact js-fadeInChildren">
                <h3>Skontaktuj się z&nbsp;przedstawicielem w&nbsp;swoim regionie!</h3>
                
                <a href="#" class="o-btn o-btn--major">Kontakt</a>
            </div>        
            
            <div class="c-footer__copyrights js-fadeInChildren">
<!--                 <p>Designed by <a href="http://www.studioengram.pl/" target="_blank">Engram</a></p> -->
                
                <p>
                    <span class="o-logo">
                        <img src=<%= require("./img/assets/logo/flowair-slim.svg") %> width="284.41" height="34.13" alt="flowair slim">
                    </span>
                    
                    <span>&copy; 2020 Flowair All RIghts Reserved</span>
                </p>
            </div>  
        </div>
