
        <div class="c-montage js-montage">
            <div class="c-montage__caption">
                <header class="o-header js-fadeInChildren">
                    <h2>Niewidoczny system mocowania</h2>
                    
                    <p> Urządzenie wyposażyliśmy w niewidoczny system mocowania, który umożliwia montaż w pionie i w poziomie za pomocą tych samych wsporników. Istnieje również możliwość montażu kurtyny za pomocą szpilek.</p>
                </header>
                
                <ol class="o-accordion js-accordion js-accordionMontage js-fadeInChildren">
                    <li class="is-active is-rollout js-item">
                        <article>
                            <h4 class="o-lead--3">Montaż poziomy</h4>
                            
                            <section>
                                <p>Kurtyny Slim przystosowane są do montażu poziomego nad otworem drzwiowym, nie ograniczając przestrzeni wewnątrz pomieszczenia i&nbsp;gwarantując maksymalną oszczędność miejsca. Kurtyny zamontowane poziomo tworzą niemal niewidoczną linię ze skrzydłem drzwiowym.</p>
                            </section>
                        </article>
                    </li>

                    <li class="js-item">
                        <article>
                            <h4 class="o-lead--3">Montaż pionowy</h4>
                            
                            <section>
                                <p>Kurtyna Slim może pracować w&nbsp;pozycji pionowej, zwłaszcza gdy przestrzeń nad drzwiami jest mniejsza niż 25 cm.</p>
                            </section>
                        </article>
                    </li>
                    
                    <li class="js-item">
                        <article>
                            <h4 class="o-lead--3">Łączenie kurtyn ze sobą </h4>
                            
                            <section>
                                <p>Jeżeli drzwi są szersze niż wymiar pojedynczej kurtyny, należy łączyć urządzenia ze sobą, aż zostanie pokryty cały otwór wejściowy. Brak wystających detali na bokach kurtyn Slim pozwala łączyć je w tandem, zapewniając w ten sposób odpowiednią osłonę wejścia bez względu na jego szerokość.</p>
                            </section>
                        </article>
                    </li>
                </ol>
            </div>
            
            <div class="c-montage__images">
                <ul class="o-gallery js-images">
                    <li class="is-active is-primary">
                        <img src=<%= require("./img/photos/montage/horizontal.jpg") %> alt="" width="1150" height="780">
                    </li>
                    
                    <li class="invisible">
                        <img srcset="./img/photos/montage/vertical.jpg 1x, ./img/photos/montage/vertical@2x.jpg 2x"
                        	 src="./img/photos/montage/vertical.jpg" alt="">
                    </li>
                    
                    <li class="invisible">
                    	<img srcset="./img/photos/montage/join.jpg 1x, ./img/photos/montage/join@2x.jpg 2x"
                        	 src="./img/photos/montage/join.jpg" alt="">
                    </li>
                    
                    
                </ul>
            </div>
        </div>
