
        <div class="c-quality js-quality">   
            <header class="o-header">
                <h2>Poprawia jakość powietrza </h2>
                <p>Kurtyna może być wyposażona w&nbsp;łatwo wymienialny, zewnętrzny moduł filtra.</p>
                                
                <p>Filtr poprawia jakość powietrza, a&nbsp;urządzenie chronione jest przed wnikaniem brudu i&nbsp;innych zanieczyszczeń. Filtr montowany jest na górnej powierzchni urządzenia za pomocą zintegrowanych uchwytów. Jest łatwy w&nbsp;montażu i&nbsp;demontażu. </p>
                
                <p>&nbsp;</p>
                
                <p>&nbsp;</p>
                
                <p>Typ filtra: Coarse 30%</p>
                <p>Grubość: 4 mm</p>
            </header>
            
            <div class="c-quality__image">
                <canvas id="hero-lightpass"></canvas>
            </div>
        </div>
