
        <div class="c-top">
            <div class="o-wrap">
                <a href="index.html" class="o-logo o-logo--flowair">
                    <img src=<%= require("./img/assets/logo/flowair.svg") %> width="276" height="46.76" alt="flowair">
                </a>
                
                <span  class="o-logo o-logo--slim">
                    <img src=<%= require("./img/assets/logo/slim.svg") %> width="138" height="59.8" alt="slim">
                </span>
            </div>
        </div>
