
        <div class="c-video">
            <div class="c-video__item">
                <p>Poznaj zalety nowej kurtyny powietrznej Slim</p>
                
                <a href="#" class="o-play">
                    <i></i>
                    <span>Obejrzyj video</span>
                </a>
            </div>
            
            <div class="c-video__item">
                <img src=<%= require("./img/photos/video/image.jpg") %> alt="FLOWAIR Slim" width="1356">
            </div>
        </div>
