.c-benefits {
    @extend %wrap;
    @extend %rel;
    
    article {
        h4 {
            //@extend %lead--2;
            @extend %rel;
            padding: 0 0 30px 80px;
//            text-transform: uppercase;
            font-size: rem(22);
            
            @media ( max-width: $smartphone + px ) {
                padding-left: 60px;
            	//font-size: rem(22);
            }
            
            @media ( max-width: $tablet + px ) {
                padding-bottom: 20px;
            }
            
            @media ( max-width: $tablet_portrait + px ) {
                padding-bottom: 25px;
                padding-left: 60px;
            	//font-size: rem(22);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
                padding-bottom: 15px;
                padding-left: 45px;
            	//font-size: rem(18);
                
            }
        }
        
        p {
            font-size: rem(14);
        }
    }
    
    &__logo {
        @extend %abs;
        right: 190px; top: 0;
        
        @media ( max-width: $base + px ) {
            right: grid(190);
        	width: grid(147.48);
        }
        
        @media ( max-width: $tablet + px ) {
        	width: 92px;
        	height: 92px;
        }
        
        @media ( max-width: $tablet_portrait + px ) {
            right: grid(70);
        }
        
        @media ( max-width: $smartphone + px ) {
            width: 70px; height: 70px;
        }
        
        @media ( max-width: $smartphone_portrait + px ) {
            width: 60px; height: 60px;
        }
    }

    .o-accordion {
        padding: 110px 50px 230px 390px;
        counter-reset: section;
        
        @media ( max-width: $design + px ) {
        	padding: design(110) grid(50) design(230) grid(390);
        }
        
        @media ( max-width: $tablet + px ) {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: tablet_portrait(140);
        }
        
        li {
            padding-right: 100px;
            padding-top: 30px;
            border-bottom-color: $c-black-01;
            
            @media ( max-width: $base + px ) {
            	padding-top: base(30);
            }
            
            @media ( max-width: $tablet + px ) {
            	padding-top: 15px;
            }
            
            @media ( max-width: $smartphone + px ) {
            	padding-right: 30px;
            }
            
            &:first-child {
                &:after {
                    opacity: 0;
                    
                    .is-rollout & {
                        opacity: 1 !important;
                    }
                }
                
                h4 {
                    @media ( max-width: $smartphone_portrait + px ) {
                    	padding-right: 10px;
                    }
                }
            }
            
            &:after {
                bottom: 30px;
//                font-size: rem(36);
                font-size: rem(26);
                
                @media ( max-width: $base + px ) {
                    bottom: base(30);
                	//font-size: base(36);
                	font-size: base(26);
                }
                
                @media ( max-width: $tablet + px ) {
                    bottom: 20px;
                    font-size: rem(18);
                }
                
                @media ( max-width: $smartphone_portrait + px ) {
                	bottom: 15px;
                }
            }
            
            &.is-rollout {
                &:first-child {
                    &:after {
                        opacity: 1;
                    }
                }
            }
            
            &:before {
                @extend %abs;
                @extend %flex;
                @extend %flex-xy;
                left: 0;
                top: 24px;
                //top: 38px;
                width: 40px; height: 40px;
                border-radius: 50%;
                border: 1px solid $c-black-01;
                font-size: rem(25);
                counter-increment: section;
                content: counter(section, decimal);
                
                @media ( max-width: $base + px ) {
                	//top: base(30);
                	top: base(24);
                }
                
                @media ( max-width: $tablet + px ) {
                    //top: 15px;
                    top: 12px;
                }
                
                @media ( max-width: $smartphone_portrait + px ) {
                    width: 30px; height: 30px;
                    font-size: rem(20);
                }
            }
        }
        
        p {
            max-width: 780px;
            
            @media ( max-width: $smartphone + px ) {
                font-size: rem(14);
            }
        }
    }
}