@keyframes wave {

	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 -245px;
	}
}

@keyframes wave-base {

	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 base(-245);		
	}
}

@keyframes smoke {

	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 -52.6px;
	}
}

@keyframes smoke-base {

	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 base(-52.6);
	}
}


.c-fit {
    @extend %rel;
    max-width: $design + px;
    margin-bottom: 240px;
    padding: {
        top: 50px;
        left: 140px;
    }

    @media ( max-width: $design + px ) {
    	margin-bottom: design(240);
    }
    
    @media ( max-width: $tablet + px ) {
        padding-left: grid(140, $tablet);
    }
    
    @media ( max-width: $smartphone + px ) {
    	padding-top: 140px;
    	padding-bottom: 40px;
    }
    
    .smoke {
        @extend %abs;
        z-index: 10;
        width: 28.52px; height: 37.1px;
        background-image: url(../img/photos/fit/smoke.svg);
    	background-repeat: repeat-y;
    	background-size: 28.52px 105.2px;
    	animation: smoke 5.1s linear infinite;
        mask-image: url(../img/photos/fit/smoke-mask.svg);
        mask-size: cover;
        overflow: hidden;
        
        @media ( max-width: $base + px ) {
        	left: base(1080);
            bottom: base(400);
        	width: base(28.52); height: base(37.1);
        	background-size: base(28.52) base(105.2);
        	animation: smoke-base 8s linear infinite;
        }
        
        &--1 {
            left: 822px; bottom: 398px;
            
            @media ( max-width: $base + px ) {
            	left: base(822);
                bottom: base(398);
            }
            
            @media ( max-width: $tablet + px) {
                left: tablet(412);
            }
            
            @media ( max-width: $smartphone + px ) {
            	left: smartphone(100);
                bottom: smartphone(232);
            }
        }
        
        &--2 {
            left: 1386px; bottom: 296px;
            
            @media ( max-width: $base + px ) {
            	left: base(1386);
                bottom: base(296);
            }
            
            @media ( max-width: $tablet + px) {
                left: tablet(766);
            }
            
            @media ( max-width: $smartphone + px ) {
            	left: smartphone(426);
                bottom: smartphone(172);
            }
        }
    }

    .wave {
        @extend %abs;
        z-index: 10;
        width: 90px; height: 140px;
        background-image: url(../img/photos/fit/wave.svg);
    	background-repeat: repeat-y;
    	background-size: 90px 490px;
    	animation: wave 10s linear infinite;
        mask-image: url(../img/photos/fit/wave-mask.svg);
        mask-size: cover;
        overflow: hidden;
        bottom: 400px; left: 1080px;
        animation: wave 10s linear infinite;
        
        @media ( max-width: $base + px ) {
        	left: base(1080);
            bottom: base(400);
        	width: base(90); height: base(140);
        	background-size: base(90) base(490);
        	animation: wave-base 10s linear infinite;
        }
        
        @media ( max-width: $tablet + px) {
            left: tablet(580);
        }
        
        @media ( max-width: $smartphone + px ) {
        	left: smartphone(255);
            bottom: smartphone(255);
        }
    }
    
    .images {
        @extend %rel;
        
        
    }

    &__image {
        @extend %rel;
        margin-bottom: 60px;
        padding-top: 100px;
        overflow: hidden;
    
        @media ( min-width: $smartphone + 1px ) and ( max-width: $base + px ) {
            margin-left: -100px;
        }
        
        @media ( min-width: $smartphone + 1px ) and  ( max-width: $tablet + px ) {
        	margin-top: 50px;
        }

        .office {
            max-width: none;
            
            @media ( max-width: $base + px ) {
            	width: base(1903.55);
            }
            
            @media ( max-width: $tablet + px ) {
            	margin-left: tablet(-100);
            }
            
            @media ( max-width: $smartphone + px ) {
                width: 200%;
                margin-left: smartphone(-380);
            }
        }
            
        padding-right: 0;
    }
    
    &__info {
        @extend %flex;
        padding-right: 140px;
        
        @media ( max-width: $base + px ) {
            padding-right: base(140);
        }
        
        @media ( max-width: $smartphone + px ) {
            flex-wrap: wrap;
        }
        
        li {
            width: calc(100% / 3);
            padding: 0 grid(70);
            
            &:not(:last-child) {
                border-right: 1px solid $c-black-01;
            }
            
            &:first-child {
                @media ( max-width: $tablet + px ) {
                    padding-left: 0;
                }
                
                @media ( max-width: $mini + px ) {
                    margin-bottom: 20px;
                    border: none;
                }
            }
            
            &:last-child {
                @media ( max-width: $smartphone + px ) {
                    width: 100%;
                    padding-top: 20px;
                    padding-left: 0;
                }
            }
            
            &:nth-of-type(2) {
                @media ( max-width: $smartphone + px ) {
                    border: none;
                    padding-right: 0;
                }
            }
            
            @media ( max-width: $smartphone + px ) {
            	width: 50%;
            }
            
            @media ( max-width: $mini + px ) {
            	width: 100%;
            	border: none;
            	padding-left: 0;
            }
        }
    }
    
    .o-header {
        @extend %abs;
        left: 140px; top: 90px;
        max-width: 380px;
        
        @media ( max-width: $design + px ) {
        	top: design(90);
        }
        
        @media ( max-width: $tablet + px ) {
            left: grid(140, $tablet);
        }
    }
    
    .o-lead {
        &--1 {
            margin-bottom: .5em;
            white-space: nowrap;
        }
    }
    
    .o-circle {
        @extend %abs; z-index: -1;
        left: 900px; top: 0;
        display: block;
        width: 424px; height: 424px;
        background-color: $c-gray-03;
        border-radius: 50%;
        
        @media ( max-width: $base + px ) {
            left: base(900);
            width: base(424);
            height: base(424);
        }
        
        @media ( max-width: $tablet + px ) {
            top: 20px;
            left: tablet(470);
        }
        
        @media ( max-width: $smartphone + px ) {
            width: smartphone(220); height: smartphone(220);
            top: smartphone(40);
            left: smartphone(160);
        }
    }
    
    
    
}



