.c-noise {
    @extend %rel;
    overflow: hidden;
    
    @media ( min-width: $tablet + 1px ) {
    //	padding-left: 110px;
    }
    
    svg {
        position: relative; z-index: 5;
        padding-left: 110px;
        
        @media ( max-width: $tablet + px ) {
        	padding-left: grid(110, $tablet);
        }

        @media ( max-width: $tablet + px ) {
        	min-height: 100vh;
        }
    }

    
    &__details {
        padding: 70px 140px 70px 140px;
        
        @media ( min-width: $tablet + 1px ) {
        	display: flex;
        }
        
        @media ( min-width: $tablet + 1px ) {
        	position: absolute; z-index: 10;
        	top: 0; left: 0;
        	width: 100%; height: 100%;
        }
        
        @media ( max-width: $tablet + px ) {
        	padding-left: grid(140, $tablet);
        	padding-right: grid(70);
        	padding-top: 0;
        }
        
        ul {
            @media ( min-width: $tablet + 1px ) {
                margin: 0 0 0 auto;
            }
            
            @media ( max-width: $tablet + px ) {
            	display: flex;
            }
        }

        li {
            //width: 50%;
            //padding: 20px 0;
            margin-bottom: 10px;
        
            @media ( min-width: $tablet + 1px ) {
                text-align: right;
            }
            
            @media ( max-width: $tablet + px ) {
                width: calc(100% / 3);
            }
            
            &:nth-of-type(even) {
/*
                @media ( min-width: $tablet + 1px ) {
                    margin: 0 0 0 auto;
                    text-align: right;
                    
                    article {
                        margin: 0 0 0 auto;
    
                        &:after {
                            left: 0;
                        }
                    }
                }
*/
            }
            
            &:nth-of-type(odd) {
                @media ( min-width: $tablet + 1px ) {
                    article {
                        &:after {
                            right: 0;
                        }
                    }
                }
            }
            
            article {
                @extend %rel;
                width: 320px;
                
                @media ( max-width: $tablet + px ) {
                	width: auto;
                	max-width: 320px;
                }
                
/*
                &:after {
                    @extend %abs;
                    @extend %abs-y;
                    @extend %abs-pseudo;
                    width: 100px; height: 1px;
                    background-color: $c-gray-06;
                }
*/
            }
            
            p {
                &.o-lead {
                    &--1 {
                        @media ( max-width: $design + px ) {
                        	font-size: design(65);
                        }
                        
                        @media ( max-width: $design + px ) {
                        }
                        
                        span {
                            font-size: 70%;
                        }
                    }
                }
            }
            
            .o-lead--1 {
                line-height: 1.2em;
            }
        }
    }
    
    .o-header {
        max-width: 320px;
        
        @media ( max-width: $base + px ) {
        	top: base(70);
        }
        
        @media ( max-width: $desktop + px ) {
//        	max-width: 500px;
        }
        
        @media ( max-width: 1220px + px ) {
        	max-width: 500px;
        }
        
        @media ( max-width: $tablet + px ) {
            margin-bottom: 30px;
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	padding-top: 45px;
        }
    }
}



