<% include ./src/includes/head %>
<body>


    <% include ./src/includes/cover %>

    <div class="o-container">
    
    <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 3061.4 1920" style="enable-background:new 0 0 3061.4 1920;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#161615;}
	.st1{fill:#FFFFFF;}
</style>
    <g id="frame1">
        <rect x="570.7" y="-570.7" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 2490.7087 -570.7087)" class="st0" width="1920" height="3061.4"/>
        <rect id="Rectangle_521_28_" x="1183.6" y="952.1" class="st1" width="14.4" height="14.9"/>
        <rect id="Rectangle_521_27_" x="1232.1" y="942.8" class="st1" width="14.4" height="33.5"/>
        <rect id="Rectangle_521_26_" x="1280.7" y="924.3" class="st1" width="14.4" height="70.6"/>
        <rect id="Rectangle_521_25_" x="1329.2" y="877.8" class="st1" width="14.4" height="163.5"/>
        <rect id="Rectangle_521_24_" x="1377.8" y="841.9" class="st1" width="14.4" height="235.4"/>
        <rect id="Rectangle_521_23_" x="1426.3" y="861.5" class="st1" width="14.4" height="196"/>
        <rect id="Rectangle_521_22_" x="1474.9" y="841.9" class="st1" width="14.4" height="235.4"/>
        <rect id="Rectangle_521_21_" x="1523.4" y="841.9" class="st1" width="14.4" height="235.4"/>
        <rect id="Rectangle_521_20_" x="1571.9" y="861.5" class="st1" width="14.4" height="196"/>
        <rect id="Rectangle_521_19_" x="1620.5" y="841.9" class="st1" width="14.4" height="235.4"/>
        <rect id="Rectangle_521_18_" x="1669" y="877.8" class="st1" width="14.4" height="163.5"/>
        <rect id="Rectangle_521_17_" x="1717.6" y="924.3" class="st1" width="14.4" height="70.6"/>
        <rect id="Rectangle_521_16_" x="1766.1" y="942.8" class="st1" width="14.4" height="33.5"/>
        <rect id="Rectangle_521_15_" x="1814.7" y="952.1" class="st1" width="14.4" height="14.9"/>
    </g>
    
    <g id="frame2">
        <rect x="570.7" y="-570.7" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 2490.7087 -570.7087)" class="st0" width="1920" height="3061.4"/>
        <rect id="Rectangle_521_42_" x="1183.6" y="952.1" class="st1" width="14.4" height="14.9"/>
        <rect id="Rectangle_521_41_" x="1232.1" y="947.5" class="st1" width="14.4" height="24.2"/>
        <rect id="Rectangle_521_40_" x="1280.7" y="914.2" class="st1" width="14.4" height="90.8"/>
        <rect id="Rectangle_521_39_" x="1329.2" y="863.3" class="st1" width="14.4" height="192.6"/>
        <rect id="Rectangle_521_38_" x="1377.8" y="901.8" class="st1" width="14.4" height="115.5"/>
        <rect id="Rectangle_521_37_" x="1426.3" y="844.1" class="st1" width="14.4" height="230.9"/>
        <rect id="Rectangle_521_36_" x="1474.9" y="877.8" class="st1" width="14.4" height="163.5"/>
        <rect id="Rectangle_521_35_" x="1523.4" y="869.3" class="st1" width="14.4" height="180.6"/>
        <rect id="Rectangle_521_34_" x="1571.9" y="844.1" class="st1" width="14.4" height="230.9"/>
        <rect id="Rectangle_521_33_" x="1620.5" y="885.5" class="st1" width="14.4" height="148"/>
        <rect id="Rectangle_521_32_" x="1669" y="863.3" class="st1" width="14.4" height="192.6"/>
        <rect id="Rectangle_521_31_" x="1717.6" y="914.2" class="st1" width="14.4" height="90.8"/>
        <rect id="Rectangle_521_30_" x="1766.1" y="947.5" class="st1" width="14.4" height="24.2"/>
        <rect id="Rectangle_521_29_" x="1814.7" y="952.1" class="st1" width="14.4" height="14.9"/>
    </g>
    
    <g id="frame3">
    <rect x="570.7" y="-570.7" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 2490.7087 -570.7087)" class="st0" width="1920" height="3061.4"/>
<rect id="Rectangle_521_56_" x="1183.6" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_55_" x="1232.1" y="951" class="st1" width="14.4" height="17.1"/>
<rect id="Rectangle_521_54_" x="1280.7" y="918.7" class="st1" width="14.4" height="81.8"/>
<rect id="Rectangle_521_53_" x="1329.2" y="927.4" class="st1" width="14.4" height="64.4"/>
<rect id="Rectangle_521_52_" x="1377.8" y="899.4" class="st1" width="14.4" height="120.4"/>
<rect id="Rectangle_521_51_" x="1426.3" y="911.9" class="st1" width="14.4" height="95.4"/>
<rect id="Rectangle_521_50_" x="1474.9" y="877.8" class="st1" width="14.4" height="163.5"/>
<rect id="Rectangle_521_49_" x="1523.4" y="869.3" class="st1" width="14.4" height="180.6"/>
<rect id="Rectangle_521_48_" x="1571.9" y="911.9" class="st1" width="14.4" height="95.4"/>
<rect id="Rectangle_521_47_" x="1620.5" y="882.5" class="st1" width="14.4" height="154.2"/>
<rect id="Rectangle_521_46_" x="1669" y="927.4" class="st1" width="14.4" height="64.4"/>
<rect id="Rectangle_521_45_" x="1717.6" y="918.7" class="st1" width="14.4" height="81.8"/>
<rect id="Rectangle_521_44_" x="1766.1" y="951" class="st1" width="14.4" height="17.1"/>
<rect id="Rectangle_521_43_" x="1814.7" y="952.1" class="st1" width="14.4" height="14.9"/>
    </g>
    
    <g id="frame4">
    <rect x="570.7" y="-570.7" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 2490.7087 -570.7087)" class="st0" width="1920" height="3061.4"/>
<rect id="Rectangle_521_70_" x="1183.6" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_69_" x="1232.1" y="951" class="st1" width="14.4" height="17.1"/>
<rect id="Rectangle_521_68_" x="1280.7" y="939" class="st1" width="14.4" height="41.2"/>
<rect id="Rectangle_521_67_" x="1329.2" y="899.4" class="st1" width="14.4" height="120.4"/>
<rect id="Rectangle_521_66_" x="1377.8" y="933.8" class="st1" width="14.4" height="51.5"/>
<rect id="Rectangle_521_65_" x="1426.3" y="887.9" class="st1" width="14.4" height="143.4"/>
<rect id="Rectangle_521_64_" x="1474.9" y="905.1" class="st1" width="14.4" height="109"/>
<rect id="Rectangle_521_63_" x="1523.4" y="926.6" class="st1" width="14.4" height="66"/>
<rect id="Rectangle_521_62_" x="1571.9" y="887.9" class="st1" width="14.4" height="143.4"/>
<rect id="Rectangle_521_61_" x="1620.5" y="926.6" class="st1" width="14.4" height="66"/>
<rect id="Rectangle_521_60_" x="1669" y="899.4" class="st1" width="14.4" height="120.4"/>
<rect id="Rectangle_521_59_" x="1717.6" y="939" class="st1" width="14.4" height="41.2"/>
<rect id="Rectangle_521_58_" x="1766.1" y="951" class="st1" width="14.4" height="17.1"/>
<rect id="Rectangle_521_57_" x="1814.7" y="952.1" class="st1" width="14.4" height="14.9"/>
    </g>
    
    <g id="frame5">
    <rect x="570.7" y="-570.7" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 2490.7087 -570.7087)" class="st0" width="1920" height="3061.4"/>
<rect id="Rectangle_521_84_" x="1183.6" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_83_" x="1232.1" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_82_" x="1280.7" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_81_" x="1329.2" y="926.6" class="st1" width="14.4" height="66"/>
<rect id="Rectangle_521_80_" x="1377.8" y="906" class="st1" width="14.4" height="107.1"/>
<rect id="Rectangle_521_79_" x="1426.3" y="926.6" class="st1" width="14.4" height="66"/>
<rect id="Rectangle_521_78_" x="1474.9" y="945.7" class="st1" width="14.4" height="27.8"/>
<rect id="Rectangle_521_77_" x="1523.4" y="906" class="st1" width="14.4" height="107.1"/>
<rect id="Rectangle_521_76_" x="1571.9" y="926.6" class="st1" width="14.4" height="66"/>
<rect id="Rectangle_521_75_" x="1620.5" y="891" class="st1" width="14.4" height="137.2"/>
<rect id="Rectangle_521_74_" x="1669" y="926.6" class="st1" width="14.4" height="66"/>
<rect id="Rectangle_521_73_" x="1717.6" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_72_" x="1766.1" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_71_" x="1814.7" y="952.1" class="st1" width="14.4" height="14.9"/>
    </g>
    
    <g id="frame6">
    <rect x="570.7" y="-570.7" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 2490.7087 -570.7087)" class="st0" width="1920" height="3061.4"/>
<rect id="Rectangle_521_98_" x="1183.6" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_97_" x="1232.1" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_96_" x="1280.7" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_95_" x="1329.2" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_94_" x="1377.8" y="933.8" class="st1" width="14.4" height="51.5"/>
<rect id="Rectangle_521_93_" x="1426.3" y="914.2" class="st1" width="14.4" height="90.8"/>
<rect id="Rectangle_521_92_" x="1474.9" y="911.1" class="st1" width="14.4" height="96.9"/>
<rect id="Rectangle_521_91_" x="1523.4" y="931.2" class="st1" width="14.4" height="56.7"/>
<rect id="Rectangle_521_90_" x="1571.9" y="914.2" class="st1" width="14.4" height="90.8"/>
<rect id="Rectangle_521_89_" x="1620.5" y="926.6" class="st1" width="14.4" height="66"/>
<rect id="Rectangle_521_88_" x="1669" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_87_" x="1717.6" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_86_" x="1766.1" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_85_" x="1814.7" y="952.1" class="st1" width="14.4" height="14.9"/>
    </g>
    
    <g id="frame7">
    <rect x="570.7" y="-570.7" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 2490.7087 -570.7087)" class="st0" width="1920" height="3061.4"/>
<rect id="Rectangle_521_111_" x="1232.1" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_110_" x="1280.7" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_109_" x="1329.2" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_108_" x="1377.8" y="953.8" class="st1" width="14.4" height="11.6"/>
<rect id="Rectangle_521_107_" x="1426.3" y="938.2" class="st1" width="14.4" height="42.8"/>
<rect id="Rectangle_521_106_" x="1474.9" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_105_" x="1523.4" y="946.3" class="st1" width="14.4" height="26.5"/>
<rect id="Rectangle_521_104_" x="1571.9" y="938.2" class="st1" width="14.4" height="42.8"/>
<rect id="Rectangle_521_103_" x="1620.5" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_102_" x="1669" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_101_" x="1717.6" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_100_" x="1766.1" y="952.1" class="st1" width="14.4" height="14.9"/>
    </g>
    
    <g id="frame8">
    <rect x="570.7" y="-570.7" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 2490.7087 -570.7087)" class="st0" width="1920" height="3061.4"/>
<rect id="Rectangle_521_121_" x="1280.7" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_120_" x="1329.2" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_119_" x="1377.8" y="953.8" class="st1" width="14.4" height="11.6"/>
<rect id="Rectangle_521_118_" x="1426.3" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_117_" x="1474.9" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_116_" x="1523.4" y="946.3" class="st1" width="14.4" height="26.5"/>
<rect id="Rectangle_521_115_" x="1571.9" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_114_" x="1620.5" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_113_" x="1669" y="952.1" class="st1" width="14.4" height="14.9"/>
<rect id="Rectangle_521_112_" x="1717.6" y="952.1" class="st1" width="14.4" height="14.9"/>
    </g>
</svg>

<style>
svg {
  width: 400px;
}

#frame1 {
  visibility: hidden;
  animation: 1s show infinite;
}

#frame2 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.125s;
}

#frame3 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.25s;
}

#frame4 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.375s;
}

#frame5 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.5s;
}

#frame6 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.625s;
}

#frame7 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.75s;
}

#frame8 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.865s;
}

@keyframes show {
  0%   { visibility: visible;}
  12.5%  { visibility: visible; }
  12.6%  { visibility: hidden; }
  100% { visibility: hidden; }
}
</style>

        
        <div class="c-fit" style="display: none">
            
            <header class="o-header js-fadeInChildren">
                <h2>Pasuje do biznesu twojego klienta</h2>
                <p>Kurtyna Slim sprawdzi się wszędzie tam, gdzie często otwiera się drzwi, m.in. w sklepach, restauracjach, salonach usługowych.</p>
            </header>
            
            <div class="c-fit__image">
                <i class="o-circle"></i>
                
                <div class="images">
                    <div class="wave"></div>
                    <div class="smoke smoke--1"></div>
                    <div class="smoke smoke--2"></div>
                    <img class="office" src=<%= require("./img/photos/fit/image2.svg") %> alt="">
                </div>
            </div>
            
            <ul class="c-fit__info">
                <li>
                    <p class="o-lead--1"><span class="js-count" data-count="99">&nbsp;</span>%</p>
                    <p>Kurtyna pasuje do 99% otworów drzwiowych.</p>
                </li>
                
                <li>
                    <p class="o-lead--1"><span class="js-count" data-count="3">&nbsp;</span>,2 m</p>
                    <p>Zalecana wysokość montażu do 3,2 m wystarczy do zabezpieczenia otworu drzwiowego w większości lokali usługowych.</p>
                </li>
                
                <li>
                    <p class="o-lead--1">1 m = <span class="js-count" data-count="100">&nbsp;</span> cm</p>
                    <p>To najwęższa kurtyna na rynku. Urządzenie pozbawione jest wystających bocznych detali – jego długość zawsze jest taka jak podajemy. U nas 100 cm = 1m.</p>
                </li>
            </ul>
        </div>

        
        
    </div>
    
    <div class="c-sidebar"></div>

</body>
</html>
