<% include ./src/includes/head %>
<body>

    <% include ./src/includes/cover %>
    
    <div class="o-container">
    
        <% include ./src/includes/top %>
        <% include ./src/includes/video %>
        <% include ./src/includes/benefits %>
        <% include ./src/includes/gallery %>
        <% include ./src/includes/slim %>
        <% include ./src/includes/fit %>
        <% include ./src/includes/montage %>
        <% include ./src/includes/noise %>
        <% include ./src/includes/colors %>
        <% include ./src/includes/quality %>
        <% include ./src/includes/curtains %>
        <% include ./src/includes/download %>
        <% include ./src/includes/footer %>
        
    </div>
    
    <div class="c-sidebar"></div>

</body>
</html>
